/* Write your CSS here */
.container {
  background-color: #1e293b;
  height: 90vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 400px;
  margin-right: 400px;
}
.heading {
  color: #f0bb03;
  font-size: 28px;
  font-weight: bold;
  font-family: Bree Serif;
}
.description {
  color: #ffffff;
  font-size: 16px;
  font-family: Bree Serif;
}
.btn {
  background-color: #ffffff;
  color: black;
  height: 34px;
  width: 135px;
  border-radius: 6px;
  border: solid 1px;
  font-weight: 500;
}
